<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnStr" connectionString="data source=.;initial catalog=PCBQuotes;user id=sa;password=dean1979;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
